@model AppBiblioteca2021.Models.Devoluciones

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Devoluciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Socios.SociosNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Socios.SociosNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevolucionesFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevolucionesFecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
