@model AppBiblioteca2021.Models.Socios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Socios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SociosNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SociosNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SociosApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SociosApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SociosDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SociosDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SociosTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SociosTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SociosFechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SociosFechaNacimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SociosID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
